<%- include('../partials/head'); %>
<div class="mt-3 ml-3">
  <h1 class="text-3xl font-bold">Steel City Codes Class Platform</h1>
  <a href="/auth/login" class="text-blue-600 text-lg underline"
    >Log in with Google</a
  >
</div>
